@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

{
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(36, 36, 36);
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
}

#game {
    width: 400px;
    height: 640px;
    border: 2px solid rgb(255, 255, 255);
    margin: auto;
    z-index: 1000000001;
}

#character {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10%;
    position: relative;
    top: 440px;
    left: 190px;
    z-index: 100000000;
    box-shadow: 0px 0px 10px 2px red;
}

#over {
    color: red;
    text-shadow: 3px 0px white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5cm;
    position: relative;
    margin:auto;
    width: 50%;
    padding: 0px;
}
#score {
    color: rgb(255, 255, 255);
    text-shadow: 3px 0px red;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5cm;
    position: relative;
    margin:auto;
    width: 50%;
    padding: 10px;
}
#other {
    color: rgb(255, 255, 255);
    text-shadow: 2px 0px red;
    font-family: 'Roboto', sans-serif;
    font-size: 1cm;
    position: relative;
    margin:auto;
    width: 50%;
    padding: 10px;
}

.block {
    width: 400px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 100px;
    margin-top: -20px;

}

.hole {
    width: 35px;
    height: 20px;
    background-color: rgb(36, 36, 36);
    position: relative;
    top: 100px;
    margin-top: -20px;
}